
@{
    ViewData["Title"] = "Painel";
}

<h1>Painel Colaborador Gerente</h1>

<p>Informações de Usuario</p>
<p>Você é um Gerente da loja.</p>

Seja bem-vindo, <span>>Nome: @ViewBag.Nome</span>
    <p>Tipo: @ViewBag.Tipo</p>
    <p>E-mail: @ViewBag.Email</p>

<br/ >

