
@{
    ViewData["Title"] = "PainelComum";
}

<h1>Painel Comum</h1>


<p>Informações de Usuario</p>
<p>Você é um Colaborador da loja.</p>

Seja bem-vindo, <span>>Nome: @ViewBag.Nome</span>
<p>Tipo: @ViewBag.Tipo</p>
<p>E-mail: @ViewBag.Email</p>

<br />